<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">  
      <link rel="shortcut icon" href="/public/favicon.ico">
  </head>
  <body style="margin:0px;padding:0px;height:100%">
	<div id="root" style="height:100%"></div>
  </body>  
</html>